<section class="hero">

    <div class="hero-content">

        <h1>
            Premium Mobile Accessories
        </h1>

        <p>
            Discover high-quality chargers,
            power banks,
            mobile cases,
            earbuds,
            and much more.
        </p>

        <div class="hero-buttons">

            <button class="shop-btn">
                Shop Now
            </button>

            <button class="explore-btn">
                Explore Products
            </button>

        </div>

    </div>

    <div class="hero-image">

        <img src="https://images.unsplash.com/photo-1511707171634-5f897ff02aa9?w=700" alt="Phone">

    </div>

</section>